{% extends 'visitor_base.html' %}
{% block title %}تفاصيل المنتج{% endblock %}
{% block visitor_content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm">
      <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
      <div class="card-body">
        <h3 class="card-title text-center">{{ product.name }}</h3>
        <p class="text-center text-muted">{{ product.price }} €</p>
        <hr>
        <h5>الوصف:</h5>
        <p>{{ product.description|safe }}</p>
        <h5>المواصفات:</h5>
        <p>{{ product.specs|safe }}</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}