{% extends "base.html" %}
{% block title %}تعديل بياناتي - العميل{% endblock %}

{% block content %}
  <div class="container text-center">
    <h2 class="mb-4">📝 تعديل البيانات</h2>

    <form method="POST" class="bg-white p-4 rounded shadow-sm w-50 mx-auto mt-4">
      <h4 class="mb-4 text-center">تعديل الملف الشخصي</h4>

      <div class="mb-3">
        <label class="form-label">البريد الإلكتروني</label>
        <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
        {% if errors and errors.email %}
          <div class="text-danger small mt-1">{{ errors.email[0] }}</div>
        {% endif %}
      </div>

      <div class="mb-3">
        <label class="form-label">اسم المستخدم</label>
        <input type="text" name="username" class="form-control" value="{{ user.username }}" required>
        {% if errors and errors.username %}
          <div class="text-danger small mt-1">{{ errors.username[0] }}</div>
        {% endif %}
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
      </div>
    </form>


      <form action="{{ url_for('user_auth.delete_account') }}" method="POST" onsubmit="return confirm('هل أنت متأكد من حذف الحساب؟');">
        <button type="submit" class="btn btn-danger mt-4">🗑️ حذف الحساب</button>
      </form>

  </div>
{% endblock %}
